.app-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register-container{
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
}

.cadastrolivros{
  display: block;
  padding: 10px 0;
  margin: 10px auto;
}